{% extends 'index.html' %}
{% block body %}

<!-- OnLoad jQuery Script-->
<script type="text/javascript">
    $(function(){
        initTable( {{ posted_data | safe }} );
        console.log('datatable initialized');

        initListeners();
        console.log('listeners initialized');
    });
</script>

<div id="transactions" class="w3-margin">
  <!--  Top Row (Sidebar + Main Transaction Table) -->
  <div class="w3-section w3-row">
    <!--  Filter/Account Values Sidebar  -->
    <div id="date_filter_sidebar" class="w3-quarter w3-card w3-margin-right">

      <!-- Table Filters -->
      <div>
        <div class="w3-bar" style="background-color: #343E3C">
            <div class="w3-bar-item"><b>FILTERS -</b></div>
        </div>

        <!-- Transaction Date Filter -->
        <div id="transact_date_filter" class="w3-bar-block w3-section">
          <span class="w3-bar-item w3-card-4">Date</span>
          <div class="w3-dropdown-hover" style="width:100%">
            <div class="w3-button w3-white w3-row">
              <span id="date_filter">{{ date_filter_default }}</span><span style="float:right"><i class="fa fa-bars"></i></span>
            </div>
            <div class="w3-dropdown-content w3-bar-block w3-card-4" style="height: 200px; width: 100%; overflow-x: hidden; overflow-y: auto;">
              {% for i in date_filter %}
              <input class="date_btn w3-bar-item w3-button" type="button" value="{{ i }}">
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- Account Filter -->
        <div id="account_filter_container" class="w3-bar-block w3-section">
          <span class="w3-bar-item w3-card-4">Account</span>
          <div class="w3-dropdown-hover" style="width:100%">
            <div class="w3-button w3-white w3-row">
              <span id="account_filter">{{ account_filter_default }}</span><span style="float:right"><i class="fa fa-bars"></i></span>
            </div>
            <div class="w3-dropdown-content w3-bar-block w3-card-4" style="height: 200px; width: 100%; overflow-x: hidden; overflow-y: auto;">
              {% for i in accounts %}
              <input class="account_btn w3-bar-item w3-button" type="button" value="{{ i }}">
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <!-- Today's Account Values Table -->
      <div>
        <br>
        <div class="w3-card w3-round w3-border">
          <div class="w3-bar w3-round" style="background-color: #343E3C">
            <div class="w3-bar-item"><b>TODAY'S ACCOUNT VALUES -</b></div>
          </div>

          <table class="w3-table w3-bordered">
            <thead>
              <tr>
                <th class="w3-right-align">Account</th>
                <th class="w3-center">Value (USD)</th>
              </tr>
            </thead>
            <tbody>
              {% for account in account_values_today %}
              <tr>
                <!-- Data-->
                <td class="w3-right-align">{{ account }}</td>
                <td class="w3-left-align"><b>{{ account_values_today[account] }}</b></td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--  Category Summary Table  -->
    <div>
      {% block cat_table %}
        <div class="w3-container">Category Summary Table Here</div>
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}