{% extends 'index.html' %}
{% block body %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>


<!-- Page Functions -->
<script type="text/javascript" src="{{ url_for('static', filename='analyze.js') }}"></script>

<!-- OnLoad jQuery Script-->
<script type="text/javascript">
    $(function(){
        year_string = "#year_select_".concat({{ active_year | safe }});
        $(year_string).css("fontSize", "12px");
        $(year_string).css("fontWeight", "bold");

        initTable( {{ posted_data | safe }} );
        console.log('datatable initialized');

        initListeners();
        console.log('listeners initialized');

    // Category Summary Pie Chart
    // CanvasJS recommends constructing options first and then pass it as a parameter

    var spending_options = {
      theme: "dark2",
      animationEnabled: true,
      title:{
        text: "Spending by Category"
      },
      data: [{
          type: "pie",
          showInLegend: "true",
          legendText: "{label}",
          yValueFormatString: "##0.00\"%\"",
          dataPoints: [
            {% for row in pie_expenses %} {y: {{ row["expenses_percent"] }}, label: "{{ row["Category"] }}" }, {% endfor %}
          ]
      }]
    };

    var income_options = {
      theme: "dark2",
      animationEnabled: true,
      title:{
        text: "Income by Category"
      },
      data: [{
          type: "pie",
          showInLegend: "true",
          legendText: "{label}",
          yValueFormatString: "##0.00\"%\"",
          dataPoints: [
            {% for row in pie_income %} {y: {{ row["income_percent"] }}, label: "{{ row["Category"] }}" }, {% endfor %}
          ]
      }]
    };


    var category_canvas_options = {
      theme: "dark2",
      animationEnabled: true,
      title:{
        text: "{{ category_filter_default }} by Month"
      },
      axisX: {
        title: "Month",
		valueFormatString: "YYYY-MM",
	  },
      axisY: {
          title: "Amount ($)",
          valueFormatString: "$#,##0"
      },
      legend: {
		verticalAlign: "top",
		horizontalAlign: "right",
		dockInsidePlotArea: true
	  },
	  toolTip: {
		shared: true,
	  },
      data: [
        {
          name: "Expenses",
          type: "area",
          showInLegend: "true",
          xValueFormatString: "YYYY-MMM",
          yValueFormatString: "$0.00",
          dataPoints: [{% for row in area_category %} {x: new Date("{{ row["date_code"] }}".substr(0,4), "{{ row["date_code"] }}".substr(5,6), 10), y: {{ row["expense_sum"] }} },
           {% endfor %}]
        },
        {
          name: "Income",
          type: "area",
          showInLegend: "true",
          yValueFormatString: "$0.00",
          dataPoints: [{% for row in area_category %} {x: new Date("{{ row["date_code"] }}".substr(0,4), "{{ row["date_code"] }}".substr(5,6), 10), y: {{ row["income_sum"] }} },
           {% endfor %}]
        },
      ]
    };

    $("#spending_pie_chart").CanvasJSChart(spending_options);
    $("#income_pie_chart").CanvasJSChart(income_options);
    $("#category_chart").CanvasJSChart(category_canvas_options);

    // Set investment included checkbox button
    $('#invest_selector').prop('checked', {{ invest_select }});
    console.log('checkbox set to {{ invest_select }}');
    });
</script>

<div id="analysis" class="w3-margin">

  <!--  Category Summary Table & Pie Charts -->
  <div class="w3-section w3-row">

    <div id="date_filter_sidebar" class="w3-quarter w3-card w3-margin-right">
      <!-- Table Filters -->
      <div>
        <div class="w3-bar" style="background-color: #343E3C">
            <div class="w3-bar-item"><b>FILTERS -</b></div>
        </div>

        <!-- Transaction Date Filter -->
        <div id="transact_date_filter" class="w3-bar-block w3-section">
          <!-- Year Selector -->
          <span class="w3-bar-item w3-card-4" style="width:100%">Date
            <div class="w3-cell" style="float: right;">
              <a href="/change-year-0&redirect=analyze" id="year_select_0" class="w3-cell" style="float: right; font-size:10px;">ALL</a>
              <div class="w3-cell" style="float: right; font-size:10px;">-</div>
              <a href="/change-year-2025&redirect=analyze" id="year_select_2025" class="w3-cell" style="float: right; font-size:10px;">2025</a>
              <div class="w3-cell" style="float: right; font-size:10px;">-</div>
              <a href="/change-year-2024&redirect=analyze" id="year_select_2024" class="w3-cell" style="float: right; font-size:10px;">2024</a>
              <div class="w3-cell" style="float: right; font-size:10px;">-</div>
              <a href= "/change-year-2023&redirect=analyze" id="year_select_2023" class="w3-cell" style="float: right; font-size:10px;">2023</a>
            </div>
          </span>

          <div class="w3-dropdown-hover" style="width:100%">
            <div class="w3-button w3-white w3-row">
              <span id="date_filter">{{ date_filter_default }}</span><span style="float:right"><i class="fa fa-bars"></i></span>
            </div>
            <div class="w3-dropdown-content w3-bar-block w3-card-4" style="height: 200px; width: 100%; overflow-x: hidden; overflow-y: auto;">
              {% for i in date_filters %}
              <input class="date_btn w3-bar-item w3-button" type="button" value="{{ i }}">
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- Account Filter -->
        <div id="account_filter_container" class="w3-bar-block w3-section">
          <span class="w3-bar-item w3-card-4">Account</span>
          <div class="w3-dropdown-hover" style="width:100%">
            <div class="w3-button w3-white w3-row">
              <span id="account_filter">{{ account_filter_default }}</span><span style="float:right"><i class="fa fa-bars"></i></span>
            </div>
            <div class="w3-dropdown-content w3-bar-block w3-card-4" style="height: 200px; width: 100%; overflow-x: hidden; overflow-y: auto;">
              {% for i in accounts %}
              <input class="account_btn w3-bar-item w3-button" type="button" value="{{ i }}">
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- Investment Filter-->
        <div id="investment_filter_container" class="w3-bar-block w3-section">
          <span class="w3-bar-item"><input type="checkbox" id="invest_selector" class="w3-check" name="invest_selector"> Include Investment</span>
        </div>
      </div>

      <!-- Today's Account Values Table -->
      <div>
        <br>
        <div class="w3-card w3-round w3-border">
          <div class="w3-bar w3-round" style="background-color: #343E3C">
            <div class="w3-bar-item"><b>TODAY'S ACCOUNT VALUES -</b></div>
          </div>

          <table class="w3-table w3-bordered">
            <thead>
              <tr>
                <th class="w3-right-align">Account</th>
                <th class="w3-center">Value (USD)</th>
              </tr>
            </thead>
            <tbody>
              {% for account in account_values_today %}
              <tr>
                <!-- Data-->
                <td class="w3-right-align">{{ account }}</td>
                <td class="w3-left-align"><b>{{ account_values_today[account] }}</b></td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Table & Pie Charts  -->
    <div class="w3-rest w3-row" style="padding: 5px; border-left-style: solid; border-color: white; border-width: 1.5px">
      <!-- Table -->
      <div id="category_summary_table" class="w3-half w3-padding">
        <!-- Category Summary-->
        <table id="analyze_category_summary">
          <thead>
            <tr>
              {% for col in data_columns %}
              <th class="w3-center">{{ col }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody style="font-size:12px">
            {% for item in data %}
            <tr>
              {% for col in data_columns %}
              <td class="w3-center">{{ item[col] }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="w3-half">
        <div id="spending_pie_chart" class="w3-content w3-card" style="height: 400px; max-width:1200px;"></div><br>
        <div id="income_pie_chart" class="w3-content w3-card" style="height: 400px; max-width:1200px;"></div><br>
      </div>

    </div>
  </div>

  <hr class="rounded">

  <!--  Category Trends Charts -->
  <div class="w3-section w3-row">
    <!--  Filters & Account Values Sidebar  -->
    <div id="category_filter_sidebar" class="w3-quarter w3-card w3-margin-right">
        <div class="w3-bar" style="background-color: #343E3C">
            <div class="w3-bar-item"><b>CATEGORY TREND -</b></div>
        </div>

        <!-- Category Filter -->
        <div id="category_filter_container" class="w3-bar-block w3-section">
          <div class="w3-dropdown-hover" style="width:100%">
            <div class="w3-button w3-white w3-row">
              <span id="category_filter">{{ category_filter_default }}</span><span style="float:right"><i class="fa fa-bars"></i></span>
            </div>
            <div class="w3-dropdown-content w3-bar-block w3-card-4" style="height: 350px; width: 100%; overflow-x: hidden; overflow-y: auto;">
              {% for i in categories %}
              <input class="category_btn w3-bar-item w3-button" type="button" value="{{ i }}">
              {% endfor %}
            </div>
          </div>
        </div>
    </div>

    <!--  Category Chart vs Time  -->
    <div class="w3-rest w3-row" style="padding: 5px; border-left-style: solid; border-color: white; border-width: 1.5px">
      <!-- Table -->
      <div id= "category_chart" class="w3-content w3-card" style="height: 500px; max-width:1200px;"></div>

    </div>
  </div>

</div>

{% endblock %}