{% extends 'index.html' %}
{% block body %}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app_setup.js') }}"></script>

<!-- OnLoad jQuery Script-->
<script type="text/javascript">
  $(function(){
    // Initialize DataTables
    initCategoryTable();
    initAccountTable();
    console.log('DataTables initialized');

  });
</script>

<style>
  div.scroll {
    overflow-x: hidden;
    overflow-y: auto;
  }
</style>

<div id="setup" class="w3-margin">
  <div class="w3-section w3-row">

    <!-- Setup Sidebar -->
    <div id="setup_tree" class="w3-quarter w3-card w3-margin-right" style="height:90vh">
      {% for setting_category in tree_top_level %}
        <div onclick="myFunc('{{ setting_category }}')" class="w3-button" style="width: 100%">
          <input class="w3-button w3-left-align tree_top_level" type="button" value="{{ setting_category }}" style="width: 90%"><i class="fa fa-angle-right"></i>
        </div>

      {% endfor %}

    </div>


    <!-- Setup Forms  -->
    <div class="scroll w3-rest w3-row" style="height:90vh; padding: 5px; border-left-style: solid; border-color: white; border-width: 1.5px">
      <!--  Iterate over controllable settings to build each edit form depending on the type of setting (database table or config file setting)    -->
      {% for setting_category in tree_top_level %}
        <div id="setup_{{ setting_category }}" class="setup_hidden w3-hide" style="width: 100%">
          <h2>{{ setting_category }} Settings</h2>

          {% if "table" == setup_dict[setting_category]["type"] %}
            <div>
              <form id="{{ setting_category }}_table_settings_form" class="w3-margin-top">
                <button class="w3-btn w3-black" type='button' onclick="document.getElementById('setup_new_modal_{{ setting_category }}').style.display='block'">Add New</button>
                <button class="w3-btn w3-black">Submit</button>

                <table id="{{ setting_category }}_table" class="w3-table w3-bordered">
                </table>
              </form>
            </div>

          {% elif "individual" == setup_dict[setting_category]["type"] %}
            <div>
              <form id="{{ setting_category }}_individual_settings_form" class="w3-row-padding w3-margin-top">
                {% for k in setup_dict[setting_category]["data"].keys() %}
                <div class="w3-cell-row w3-padding">
                  <div class="w3-container w3-cell" style="width: 90%">
                    <input class="{{ setting_category }}_individual_setting_input w3-container w3-input" type="text" value="{{ setup_dict[setting_category]['data'][k] }}" name="{{ k }}" id="{{ k }}"/>
                    <label for="{{ k }}">{{ k }}</label>
                  </div>
                </div>
                {% endfor %}

                <div class="w3-cell-row w3-padding">
                  <div class="w3-container w3-cell" style="width: 90%"><input class="w3-button w3-right" type="submit" value="Update" name="{{ setting_category }}.{{ k }}"/></div>
                </div>

              </form>

            </div>

          {% else %}
            <p>OTHER</p>

          {% endif %}

        </div>

        <!-- Add New Table Row Modal -->
        <div id="setup_new_modal_{{ setting_category }}" class="w3-modal">
          <div class="w3-modal-content w3-border w3-dark-grey w3-round">
            <!-- Setup New Entry Modal Close Button-->
            <span class="w3-button w3-display-topright w3-round w3-black" onclick="document.getElementById('setup_new_modal_{{ setting_category }}').style.display='none'">&times;</span>

            <!-- Transaction Modify/Delete Modal Title Bar-->
            <div class="w3-bar w3-2018-meerkat w3-round">
                <div class="w3-bar-item">NEW SETTING - {{ setting_category }}</div>
            </div>

            <!-- New Settings Modal Form-->
            <form id="{{ setting_category }}_modal_form" class="new_setting_form w3-row-padding w3-margin-top" action="{{ url_for('new_setting') }}" method="post">
              {% for setting in setup_dict[setting_category]["data"][0] %}
                <!-- Unit Row-->
                <div class="w3-row-padding w3-section">
                  <div class="w3-threequarter">
                    <input id="{{ setting }}" class="w3-input w3-border" type="text" name="{{ setting }}" pattern="[\&\/\\\(\)\.\-a-zA-Z0-9\s]+">
                    <label>New {{ setting_category }} - {{ setting }}</label>
                  </div>
                </div>
              {% endfor %}

              <div class="w3-quarter w3-center">
                <input type="submit" value="Submit" class="w3-button w3-black w3-large">
              </div>


            </form>
          </div>
        </div>
      {% endfor %}

    </div>

  </div>

</div>

{% endblock %}