<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Budget</title>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>

  <script src="{{ url_for('static', filename='index.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous">
  </script>
</head>

<body style="color: whitesmoke; background: linear-gradient(165deg, rgba(46,39,89,1) 10%, rgba(15,0,40,1) 30%); margin-top:65px">
  <!-- Navigation Menu Bar -->
  <div id="nav_menu" class="w3-top">
    <div class="w3-bar w3-theme w3-large" style="background: linear-gradient(90deg, rgba(36,31,71,1) 20%, rgba(0,0,10,1) 100%);">
      <span class="w3-bar-item"><i class="fa fa-bank"></i> - Nick's Budget</span>

      <a href="/" class="w3-bar-item w3-button w3-hover-deep-purple" style="text-shadow:2px 2px 0 #444;">//HOME</a>  <!-- style="width: 7%; min-width: 100px" -->

      <a href="{{ url_for('data_transactions') }}" class="w3-bar-item w3-button w3-hover-deep-purple">//TRANSACT</a>  <!-- style="width: 7%; min-width: 100px" -->

      <div class="w3-dropdown-hover">
        <button class="w3-button">Links</button>  <!-- onclick="dropdownFunction()" -->
        <div id="dropdown" class="w3-dropdown-content w3-bar-block w3-card-4 w3-deep-purple w3-medium">
          <a href="https://www.skylacu.com/" target="_blank" class="w3-bar-item w3-button">Skyla Credit Union</a>
          <a href="https://www.td.com/us/en/personal-banking" target="_blank" class="w3-bar-item w3-button">TD Bank</a>
          <a href="https://www.chase.com/" target="_blank" class="w3-bar-item w3-button">Chase</a>
          <a href="https://www.capitalone.com/" target="_blank" class="w3-bar-item w3-button">Capital One</a>
          <a href="https://www.mortgagequestions.com/" target="_blank" class="w3-bar-item w3-button">PHH Mortgage</a>
          <a href="https://github.com/nickbart450/ibudget_web" target="_blank" class="w3-bar-item w3-button">Project github</a>
        </div>
      </div>
    </div>
  </div>

  {% block body %}
  <!-- CanvasJS Charts Import-->
  <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

  <!-- DataTables Import -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

  <!-- on page load script -->
  <script>
  $(function(){
    initDataTables();
    console.log('datatable initialized');

    // Account Values Stacked Column Chart
    // Better to construct options first and then pass it as a parameter
    var stacked_options = {
      theme: "dark2",
      animationEnabled: true,
      title:{
        text: "Account Values"
      },
      axisX:{
        interval: 30,
        intervalType: "day",
      },
      axisY:{
        title:"Value ($)",
        minimum: 0,
        maximum: 30000,
      },
      toolTip: {
        shared: true,
        reversed: true
      },
      data: [
        {% for account in account_view_order %}
          {
            type: "stackedColumn",
            name: "{{ accounts[account]["name"] }}",
            showInLegend: "true",
            yValueFormatString: "$ #.##",
            dataPoints: {{ account_values_by_day[account] | safe }},
          },
        {% endfor %}
      ]
    };

    var burn_time_options = {
      theme: "dark2",
      animationEnabled: true,
      title:{
        text: "Burn Time"
      },
      axisX:{
        crosshair: {
          enabled: true,
          snapToDataPoint: true
        }
      },
      axisY: {
        title: "Months to 0",
        valueFormatString: "0.00",
        minimum: 0,
        maximum: 18,
        crosshair: {
          enabled: true,
          snapToDataPoint: true,
          labelFormatter: function(e) {
            return "$" + CanvasJS.formatNumber(e.value, "0.00");
          }
        }
      },
      data: [
      {
        name: "Maximum Burn {{ burn_time_retirement }}",
        showInLegend: true,
        legendMarkerType: "square",
        type: "area",
        color: "rgba(41,0,66,0.8)",
        markerSize: 0,
        xValueFormatString: "DD MMM",
        yValueFormatString: "0.00",
        dataPoints: [
          {% for i in burn_time_by_day %}
            { x: new Date({{ i['year'] }}, {{ i['month'] }} - 1, {{ i['day'] }}), y: {{ i['burn'] }} },
          {% endfor %}
        ]
      },
      {
        name: "Cash-Only Burn",
        showInLegend: true,
        legendMarkerType: "square",
        type: "area",
        color: "rgba(131,60,60,0.7)",
        markerSize: 0,
        xValueFormatString: "DD MMM",
        yValueFormatString: "0.00",
        dataPoints: [
          {% for j in burn_time_by_day_no_invest %}
            { x: new Date({{ j['year'] }}, {{ j['month'] }} - 1, {{ j['day'] }}), y: {{ j['burn'] }} },
          {% endfor %}
        ],
      }]
    };

    $("#account_value_chart").CanvasJSChart(stacked_options);
    $("#burn_time_chart").CanvasJSChart(burn_time_options);
  });
  </script>


  <!-- Main -->
  <div id="homepage_body" class="w3-row-padding">
    <!-- Left Sidebar -->
    <div id="home_left_sidebar" class="w3-quarter w3-card w3-margin-right">
      <div class="w3-row w3-padding w3-round w3-border w3-center w3-large" style="background-color: #343E3C">
        <b>Current Account Values</b>
      </div>

      <!-- Current Account Values Table -->
      <table class="w3-table w3-bordered">
        <thead>
          <tr>
            <th class="w3-right-align">Account</th>
            <th class="w3-center">Value (USD)</th>
          </tr>
        </thead>
        <tbody>
          {% for account in account_values_today %}
            <tr>
              <!-- Data-->
              <td class="w3-right-align">{{ account }}</td>
              <td class="w3-left-align"><b>{{ account_values_today[account] }}</b></td>
            </tr>

          {% endfor %}
        </tbody>
      </table>

    </div>

    <div class="w3-rest w3-row-padding" style="border-left-style: solid; border-color: white; border-width: 1.5px">
      <!-- Stacked Account Value Chart -->
      <div id="account_value_chart" class="w3-content w3-card" style="height: 400px; max-width:1200px;"></div><br>

      <!-- Burn Time Chart -->
      <div id="burn_time_chart" class="w3-content w3-card" style="height: 400px; max-width:1200px ;"></div><br>

      <!-- Account Value Table -->
      <div class="w3-content w3-card" style="max-width:1200px">
        <table id="account_value_table" class="w3-table-all" style="width:100%; color:black">
          <thead>
            <tr>
              <th class="w3-center"></th>
              <th class="w3-center">Date</th>
              {% for account in account_view_order %}
                <th class="w3-center">{{ accounts[account]["name"] }}</th>
              {% endfor %}
            </tr>
          </thead>

          <tbody style="font-size:12px">
            {% for row in account_values_by_transaction %}
              <tr>
                <!-- Details Button-->
                {% if row['is_posted'] -%}
                  <td class="w3-center"><button onclick="alert({{ row['transaction_id'] }})" class="w3-black w3-round-large"><i class="fa fa-bars"></i></button></td>
                {% else -%}
                  <td></td>
                {% endif %}

                <!-- Data-->
                <td class="w3-center">{{ row['transaction_date'] }}</td>

                {% for account in account_view_order %}
                  <td class="w3-center">{{ row[account] }}</td>
                {% endfor %}

              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
  {% endblock %}

</body>
</html>