{% extends 'transactions.html' %}
{% block table %}

<div id="transaction_table" class="w3-rest"
  style="padding: 5px; border-left-style: solid; border-color: white; border-width: 1.5px">

  <div id="table_controls" style="display: none">
    <span>Functions:</span>
    <button id="duplicate" class="function_btn w3-button w3-black">DUPLICATE</button>
    <button id="delete" class="function_btn w3-button w3-black">DELETE</button>
    <button id="posted" class="function_btn w3-button w3-black">MARK POSTED</button>
    <!-- <button id="split" class="function_btn w3-button w3-black">SPLIT</button> -->

  </div>

  <!-- Details/Transaction Modify Modal-->
  <div id="details_modal" class="w3-modal">
    <div class="w3-modal-content w3-border w3-dark-grey w3-round">
      <!-- Transaction Modify/Delete Modal Close Button-->
      <span class="w3-button w3-display-topright w3-round w3-black" onclick="document.getElementById('details_modal').style.display='none'">&times;</span>
      <!-- Transaction Modify/Delete Modal Title Bar-->
      <div class="w3-bar w3-2018-meerkat w3-round">
        <div id="details_modal_id" class="w3-bar-item">TRANSACTION EDIT -</div>
      </div>

      <!-- Transaction Modify/Delete Modal Form-->
      <form id="details_modal_form" class="transaction_mod_form w3-row-padding w3-margin-top" name="{{ url_for('update_transaction') }}" method="post">
        <!-- Top Row-->
        <div class="w3-row-padding w3-section">
          <div class="w3-half">
            <input id="details_modal_trans_date" class="w3-input w3-border" type="date" name="date" required="required" value="">
            <label>Transaction Date</label>
          </div>
          <div class="w3-half">
            <input id="details_modal_post_date" class="w3-input w3-border" type="date" name="post_date" value="">
            <label>Posted Date</label>
          </div>
        </div>

        <!-- Second Row-->
        <div class="w3-row-padding w3-section">
          <div class="w3-half">
            <div class="w3-dropdown-hover" style="width:100%">
              <input id="details_modal_credit_account" class="cred_accnt_input_modal w3-input w3-border" type="text" name="account-credit" required="required" value="0" pattern="[\&\/\\\(\)\.\-a-zA-Z0-9\s]+">
              <div class="w3-dropdown-content w3-bar-block w3-card-4">
                {% for i in accounts %}
                  <input class="cred_account_btn w3-bar-item w3-button" type="button" value="{{ i }}">
                {% endfor %}
              </div>
            </div>
            <label>Credit Account</label>
          </div>
          <div class="w3-half">
            <div class="w3-dropdown-hover" style="width:100%">
              <input id="details_modal_debit_account" class="deb_accnt_input_modal w3-input w3-border" type="text" name="account-debit" value="0" pattern="[\&\/\\\(\)\.\-a-zA-Z0-9\s]+">
              <div class="w3-dropdown-content w3-bar-block w3-card-4">
                {% for i in accounts %}
                  <input class="deb_account_btn w3-bar-item w3-button" type="button" value="{{ i }}">
                {% endfor %}
              </div>
            </div>
            <label>Debit Account</label>
          </div>
        </div>

        <!-- Third Row-->
        <div class="w3-row-padding w3-section">
          <div class="w3-half">
            <input id="details_modal_amount" class="w3-input w3-border" type="number" name="amount" required="required" step="0.01" value="0">
            <label>Amount</label>
          </div>
          <div class="w3-half">
            <div class="w3-dropdown-hover" style="width:100%">
              <input id="details_modal_category" class="cat_input_modal w3-input w3-border" type="text" name="category" required="required"  value="" pattern="[\&\/\\\(\)\.\-a-zA-Z0-9\s]+">
              <div class="w3-dropdown-content w3-bar-block w3-card-4" style="height: 200px; width: 75%; min-width: 225px; overflow-x: hidden; overflow-y: auto;">
                {% for i in categories %}
                <input type="button" value="{{ i }}" class="cat_btn w3-bar-item w3-button">
                {% endfor %}
              </div>
            </div>
            <label>Category</label>
          </div>
        </div>

        <!-- Fourth Row-->
        <div class="w3-row-padding w3-section">
          <div class="w3-threequarter">
            <input id="details_modal_description" class="w3-input w3-border" type="text" name="description" value="" pattern="[\&\/\\\(\)\.\-a-zA-Z0-9\s]+">
            <label>Description</label>
          </div>
          <div class="w3-rest w3-center">
            <input id="details_modal_posted" class="w3-check" type="checkbox" name="is_posted_selector">
            <label class="w3-large">Posted</label>
          </div>
        </div>

        <!-- Bottom Row-->
        <div class="w3-row-padding w3-section">
          <div class="w3-half">
            <input id="details_modal_vendor" class="w3-input w3-border" type="text" name="vendor" value="0" pattern="[\&\/\\\(\)\.\-a-zA-Z0-9\s]+">
            <label>Vendor</label>
          </div>
          <div class="w3-quarter w3-center">
            <input type="submit" value="Submit" class="w3-button w3-black w3-large">
          </div>
          <div class="w3-quarter w3-center">
            <button id="details_modal_delete" type="button" onclick="" class="w3-button w3-red w3-large">DELETE</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--  Posted Transactions Table  -->
  <table id="budget_table_posted">
    <thead>
      <tr>
        <th class="w3-center">Select/Details</th>
        <th class="w3-center">Date</th>
        <th class="w3-center">Account-From</th>
        <th class="w3-center">Account-To</th>
        <th class="w3-center">Category</th>
        <th class="w3-center">Amount</th>
        <th>Vendor</th>
      </tr>
    </thead>
    <tbody style="font-size:12px"></tbody>
  </table>

  <!-- Upcoming Transactions-->
  <table id="budget_table_upcoming">
    <thead>
      <tr>
        <th class="w3-center">Select/Details</th>
        <th class="w3-center">Date</th>
        <th class="w3-center">Account-From</th>
        <th class="w3-center">Account-To</th>
        <th class="w3-center">Category</th>
        <th class="w3-center">Amount</th>
        <th>Vendor</th>
      </tr>
    </thead>
    <tbody style="font-size:12px"></tbody>
  </table>
</div>

{% endblock %}
